body {
  background-color:#34495e;
}

.container {
  background-color: white;
}

.px-1 {
  padding-right: 1rem;
  padding-left: 1rem;  
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;  
}

.container .row {
  margin: 0;
}

@media (max-width: 600px) {
  .text-s-center {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .text-m-left {
    text-align: left;
  }
}

@media (min-width: 601px) {
  .text-lg-right {
    text-align: right;
  }
}

@media (min-width: 600px) {

}

.accent {
  color: #ff9800;
}

a, a:link, a:visited {
  text-decoration: none;
  color: #212529;
}

a:hover {
  color: #e45900;
}

.font-special {
  font-family: 'Dosis', sans-serif;
}