.accent {
  color: #e45900;
}

.center-align {
  text-align: center;
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 720px;
}

a, a:link, a:visited {
  color: #212529;
  text-decoration: none;
}

a:hover {
  color: #e45900;
}

h1, h2 {
  font-family: 'Dosis', sans-serif;
}

h3 {
  margin-bottom: 1rem;
}

.image-circle {
  border-radius: 50%;
}

.list-unstyled {
  list-style: none;
}

.mb-3 {
  margin-bottom: 3rem;
}